// 
// user.scss
// Use this to write your custom SCSS
//

.marca{
	//font-size:24px;
	//color: black;
	    color: #506690;
	font-family:RobotoCondensed-Bold, Roboto Condensed;
	font-weight:700;


}

.marca:focus, .marca:hover {
    color: $primary;
}

/*
.navbar-light .navbar-nav .nav-link {
	color: $gray-800;
}

*/

/* Add the below transitions to allow a smooth color change similar to lyft */
/*.navbar-fixed-on-scroll {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
*/