// 
// user-variables.scss
// Use this to overwrite Bootstrap and Landkit variables
//

// Example of a variable override to change Landkit's background color
// Remove the "//" to comment it in and see it in action!

//$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;

$font-family-base: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

//$primary: #0097A7;
//$primary: #6f42c1;
$primary: #6610f2;
//$primary: #3930d8;


// 253
/*
$gray-100: #f9f9fb; //240 20 98
$gray-200: #F2F3F7; //223
$gray-300: #DFE4F9;
$gray-400: #D2DDFD;
$gray-500: #9371d1;
$gray-900: #2b3250;
*/


/*
$gray-100: #F2F3F7;
$gray-200: #DFE4F9;
$gray-300: #D2DDFD;
$gray-400: #9371d1;
$gray-900: #041458;
*/


/*
$gray-100: #f1ecf9;
$gray-200: #dbd0f0;
$gray-300: #b7a1e0;
$gray-400: #9371d1;
$gray-500: #6f42c1;
$gray-600: #533291;
$gray-700: #382161;
$gray-800: #1c1130;
$gray-900: #110a1d;

*/
/*
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
*/
//$success: #335EEA;
