<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        
        <!-- Brand -->
        <img src="@@webRoot/assets/img/brand-name-inline.svg" alt="..." class="footer-brand img-fluid mb-2">
        <!-- Text -->
        <p class="text-gray-700 mb-2">
          Su socio de IT confiable
        </p>

         <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a href="mailto:info@terminuslabs.com.uy" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/email.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/github.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/linkedin.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>
       

      </div>
      <div class="col-12 col-md-6" >
        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
          <label class="btn btn-outline-secondary btn-sm active" data-toggle="tooltip" data-placement="bottom" title="Inglés" >
            <input type="radio" name="options" id="option1" autocomplete="off" checked> En
          </label>
          <label class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Español" >
            <input type="radio" name="options" id="option2" autocomplete="off"> Es
          </label>
        </div>
      </div>

    



    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>