<nav class="navbar navbar-expand-lg @@classList">
  @@if(type=="boxed"){<div class="container">}

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/home.html">
      <img src="@@webRoot/assets/img/brand-blanco-transparente2.svg" class="navbar-brand-img" alt="..."> 
      <!--<span class="marca">TERMINUS·LABS</span>-->
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link " id="navbarLandings"  href="@@webRoot/home.html" aria-expanded="false">
            Inicio
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarCompanyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Company
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarCompanyDropdown">
            <a class="dropdown-item" href="@@webRoot/company.html">About us</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="@@webRoot/portfolio.html">Our work</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="@@webRoot/careers.html">Careers</a>
          </div>
        </li>

        <li class="nav-item ">
          <a class="nav-link " id="navbarLandings"  href="@@webRoot/services.html" aria-expanded="false">
            Services
          </a>
        </li>     
        <li class="nav-item">
          <a class="nav-link"  href="@@webRoot/contact.html" aria-expanded="false"> 
           Contact
           </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="@@webRoot/blog.html" aria-expanded="false"> 
           Blog
           </a>
        </li>




      </ul>

      <!-- Button 
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        CONTACT
      </a>-->

    </div>
  
  @@if(type=="boxed"){</div>}
</nav>